#askedQuestions{
    margin-top: 163px;
    text-align: center;
 
    h2{
        font-weight: 500;
        margin-bottom: 36px;
        color: $letter;
    }
    p{
        margin: 0 auto 45px auto;
        max-width: 528px;
        color: $letterP;
    }

    .questions{
        margin: auto;
        max-width: 542px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $gray;

        button{
            text-align: left;
            font-size: 1.6rem;
            height: 65px;
            background-color: transparent;
            border: transparent;
            border-top: 1px solid $gray;
            color: $letter;
            cursor: pointer;
        }

        p{
            display: none;
            text-align: left;
            margin: 0 0 10px 0;
        }
    }

    #moreInfo{
        margin-top: 54px;
        margin-bottom: 150px;
        width: 114px;
        height: 48px;
        font-weight: 500;
        border-radius: 5px;
        border: transparent;
        color: $white;
        background-color: $blue;
        cursor: pointer;
    }
}