#contact{
    padding: 72px 0 74px 0;
    background-color: $blue;
    
    .container {
        max-width: 1440px;
        padding: 0 165px;
        margin: auto;
        
        p, h2{
            max-width: 410px;
            margin: auto;
            text-align: center;
            font-weight: 500;
            color: $white;
        }

        p{
            font-size: 1.2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    
        h2{
            margin-top: 45px;
            margin-bottom: 38px;
        }
    
        .inputs{
            max-width: 442px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0 15px;
            grid-template-areas: 
                "email submit"
            ;

            .email{
                position: relative;

                input{
                    width: 100%;
                    grid-area: email;
                    border: 2px solid $white;
                    position: relative;
                    z-index: 1;

                    &.error{
                        border: 2px solid $red;
                    }
                }
                
                img{
                    display: none;

                    &.error{
                        display: block;
                        position: absolute;
                        right: 13px;
                        top: 13px;
                        z-index: 1;
                    }
                }
            }

            input{
                height: 48px;
                border-radius: 5px;
                border: transparent;
                padding: 0 24px;
                transition: 0.2s;
    
                &[type="submit"]{
                    display: block;
                    width: 100%;
                    grid-area: submit;
                    max-width: 127px;
                    font-weight: 500;
                    color: $grayLight;
                    background-color: $red;
                    cursor: pointer;
                    border: 2px solid $red;

                    &:hover {
                        color: $red;
                        background-color: $white;
                    }
                }
            }

            span{
                display: none;
                margin-top: -4px;
                grid-area: error;
                padding: 5px 10px 2px 10px;
                font-size: 1.2rem;
                font-style: italic;
                border-radius: 0 0 5px 5px;
                
                border: 2px solid $red;
                color: $white;
                background-color: $red;

                &.active {
                    display: block;
                }
            }
        }
    }
}