#contact{
    padding: 72px 0 74px 0;
    background-color: $blue;
    
    .container {
        max-width: 1440px;
        padding: 0 165px;
        
        p, h2{
            max-width: 410px;
            margin: auto;
            text-align: center;
            font-weight: 500;
            color: $white;
        }

        p{
            font-size: 1.2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    
        h2{
            margin-top: 45px;
            margin-bottom: 38px;
        }
    
        .inputs{
            max-width: 442px;
            margin: 0 auto;
            display: flex;
    
            input{
                height: 48px;
                border-radius: 5px;
                border: transparent;
                padding: 0 24px;
    
                &[type="email"]{
                    flex: 1;
                    margin-right: 15px;
                }
    
                &[type="submit"]{
                    display: block;
                    width: 100%;
                    max-width: 126px;
                    font-weight: 500;
                    color: $grayLight;
                    background-color: $red;
                    cursor: pointer;
                }
            }
        }
    }
}