header{
    max-width: 1440px;
    margin: auto;
    padding: 48px 165px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        display: flex;
        align-items: center;
    }
    
    ul{
        display: flex;
        align-items: center;
        
        li{
            display: flex;
            align-items: center;
            list-style: none;
            
            a, button{
                letter-spacing: 1px;
                font-size: 1.4rem;
            }

            a{
                text-decoration: none;
                margin-right: 48px;
                color: $veryDarkBlue;
            }
            button{
                width: 112px;
                height: 40px;
                font-weight: 400;
                color: $white;
                background-color: $red;
            }
        }
    }
}