main{
    max-width: 1260px;
    margin: 0 auto;
    padding: 66px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 102px;

    .texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 78px 0 22px 75px;

        h1{
            font-size: 35px;
            font-weight: 500;
        }

        p{
            line-height: 25px
        }
        
        button{
            width: 166px;
            height: 48px;
            margin-right: 16px;
            font-weight: 500;
            border-radius: 5px;
            border: transparent;
            cursor: pointer;

            &#chrome-button{
                color: $white;
                background-color: $blue;
            }
        }
    }
    
    .image{
        width: 100%;
        display: flex;
        align-items: center;
        
        .image-content{
            display: block;
            width: 100%;
            position: relative;

            .image-box{
                position: relative;
                height: 0;
                background-color: $backIllustration1;
                padding: 0 0 64.55%;
                border-radius: 20px;
                
                img{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 20px solid $backIllustration1;
                    border-radius: 20px;
                    box-shadow: 0 20px 30px $backIllustration2;
                }
            }

            &::after{
                display: block;
                content: '';

                width: 40vw;
                height: 100%;

                position: absolute;
                top: 32.67%;
                left: 16.82%;

                border-bottom-left-radius: 200px;
                z-index: -1;
                background-color: $blue;
            }
        }
    }
}