@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
*, *:before, *:after {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  outline: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  /* 10px */
}

body {
  font-size: 1.6rem;
  /* 1.6rem * 10 = 16px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@media (max-width: 720px) {
  :root {
    font-size: 50%;
    /* Diminuir fonte no mobile */
  }
}

header {
  max-width: 1260px;
  margin: auto;
  padding: 48px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #242946;
}

header ul li #loginButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 112px;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #fa5757;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 66px 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 102px;
}

main .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 78px 0 22px 75px;
}

main .texts h1 {
  max-width: 435px;
  font-size: 3.5rem;
  font-weight: 500;
  color: #242946;
}

main .texts p {
  max-width: 485px;
  line-height: 25px;
  color: #8B8C91;
}

main .texts button {
  width: 166px;
  height: 48px;
  margin-right: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

main .texts button#chromeButton {
  color: #ffffff;
  background-color: #5368df;
}

main .texts button#firefoxButton {
  color: #61616D;
  background-color: #F7F7F7;
  -webkit-box-shadow: 0 2px 5px #cccccc;
          box-shadow: 0 2px 5px #cccccc;
}

main .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .image .image-content {
  display: block;
  width: 100%;
  position: relative;
}

main .image .image-content .image-box {
  position: relative;
  height: 0;
  background-color: #252526;
  padding: 0 0 64.55%;
  border-radius: 20px;
}

main .image .image-content .image-box img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid #252526;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 30px #25252680;
          box-shadow: 0 20px 30px #25252680;
}

main .image .image-content::after {
  display: block;
  content: '';
  width: 40vw;
  height: 100%;
  position: absolute;
  top: 32.67%;
  left: 16.82%;
  border-bottom-left-radius: 200px;
  z-index: -1;
  background-color: #5368df;
}

#features {
  margin-top: 95px;
  text-align: center;
}

#features h2 {
  font-weight: 500;
  margin-bottom: 36px;
  color: #242946;
}

#features p {
  margin: 0 auto 45px auto;
  max-width: 528px;
  color: #8B8C91;
}

#features .buttons {
  width: 100%;
  max-width: 730px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #cccccc;
}

#features .buttons button {
  width: 100%;
  height: 80px;
  border: transparent;
  border-bottom: 4px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  color: #8B8C91;
}

#features .buttons button.active {
  color: #242946;
  border-bottom: 4px solid #fa5757;
}

#features .box {
  max-width: 1260px;
  margin: 0 auto;
  padding: 66px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#features .box .image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 80px;
}

#features .box .image .image-content {
  display: block;
  width: 100%;
  position: relative;
}

#features .box .image .image-content .image-box {
  position: relative;
  height: 0;
  padding: 0 0 64.55%;
  border-radius: 20px;
}

#features .box .image .image-content .image-box img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#features .box .image .image-content::after {
  display: block;
  content: '';
  width: 45vw;
  height: 100%;
  position: absolute;
  top: 32.67%;
  right: 16.82%;
  border-bottom-right-radius: 200px;
  z-index: -1;
  background-color: #5368df;
}

#features .box .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 90px 56px 110px;
  text-align: left;
}

#features .box .texts h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #242946;
}

#features .box .texts p {
  line-height: 25px;
  margin: 0;
  color: #8B8C91;
}

#features .box .texts button {
  width: 166px;
  height: 48px;
  margin-right: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
}

#features .box .texts button#button1 {
  color: #ffffff;
  background-color: #5368df;
}

#extension {
  margin-top: 163px;
  text-align: center;
}

#extension h2 {
  font-weight: 500;
  margin-bottom: 36px;
  color: #242946;
}

#extension p {
  margin: 0 auto 45px auto;
  max-width: 528px;
  color: #8B8C91;
}

#extension .cards {
  margin: auto;
  max-width: 912px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 32px;
}

#extension .cards .card {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 26px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px #cccccc80;
          box-shadow: 0 10px 10px #cccccc80;
}

#extension .cards .card.card2 {
  margin-top: 40px;
}

#extension .cards .card.card3 {
  margin-top: 80px;
}

#extension .cards .card img {
  max-width: 102px;
}

#extension .cards .card h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 37px auto 19px auto;
  color: #242946;
}

#extension .cards .card p {
  font-size: 1.4rem;
  color: #8B8C91;
}

#extension .cards .card button {
  width: 100%;
  height: 48px;
  border: transparent;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5368df;
  cursor: pointer;
}

#askedQuestions {
  margin-top: 163px;
  text-align: center;
}

#askedQuestions h2 {
  font-weight: 500;
  margin-bottom: 36px;
  color: #242946;
}

#askedQuestions p {
  margin: 0 auto 45px auto;
  max-width: 528px;
  color: #8B8C91;
}

#askedQuestions .questions {
  margin: auto;
  max-width: 542px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #cccccc;
}

#askedQuestions .questions button {
  text-align: left;
  font-size: 1.6rem;
  height: 65px;
  background-color: transparent;
  border: transparent;
  border-top: 1px solid #cccccc;
  color: #242946;
  cursor: pointer;
}

#askedQuestions .questions p {
  display: none;
  text-align: left;
  margin: 0 0 10px 0;
}

#askedQuestions #moreInfo {
  margin-top: 54px;
  margin-bottom: 150px;
  width: 114px;
  height: 48px;
  font-weight: 500;
  border-radius: 5px;
  border: transparent;
  color: #ffffff;
  background-color: #5368df;
  cursor: pointer;
}

#contact {
  text-align: center;
  padding: 72px;
  color: #ffffff;
  background-color: #5368df;
}

#contact p {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 1.2rem;
}

#contact h2 {
  margin: auto;
  max-width: 442px;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 45px;
}

#contact .contact-area {
  margin: auto;
  max-width: 442px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .contact-area input, #contact .contact-area button {
  height: 48px;
  border-radius: 5px;
  border: transparent;
}

#contact .contact-area input {
  margin-right: 15px;
  width: 100%;
  padding: 15px;
}

#contact .contact-area button {
  width: 128px;
  color: #ffffff;
  background-color: #fa5757;
  cursor: pointer;
}

footer {
  color: #ffffff;
  background-color: #242946;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1260px;
  height: 88px;
  margin: auto;
  padding: 0 75px;
}

footer .footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .left ul {
  margin-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .left ul li {
  list-style: none;
  margin-right: 45px;
}

footer .footer .left ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #ffffff;
}

footer .footer .socials img:first-child {
  margin-right: 40px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  padding: 15px;
  background-color: #252526;
}

footer .attribution a {
  color: #cccccc;
}

.border {
  border: 2px solid green;
}
